%title TracksGiving / Email sent
Hello
=@util_email.user.name + ", "
%br
%br
You just added this email id as a secondary email
%br
at your TracksGiving account whose primary email
%br
is
= @util_email.user.email + "."
%br
%br
Please click on below link to confirm the secondary email -
%br
= link_to @link, @link
%br
%br
Regards,
%br
TracksGiving team.